*, *::before, *::after{
    box-sizing: border-box;

}


body{
    margin: 0;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background: black;
}




ul{
    margin: 0;
    padding: 0;
    list-style: none;

}



.carousel{
    position: relative;

}
.slide{
    position:absolute;
    opacity: 0;
    inset: 0;
    height: 100vh;
    transition: all .15s ease-in-out;
    transition-delay: .1s;
}

.slide  img{
    display: block;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}



.slide[data-active]{
    opacity: 1;
    inset: initial;
}

.carouselArrow{
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    font-size:200px;
    color: white;
    opacity: .5;
    padding: 15px;
    background: transparent;
    transition: all .1s;
    

}
.carouselArrow:hover{
    cursor: pointer;
    opacity: .8;

}


.carouselArrow.next{
    right: 0;
}

.carouselArrow.prev{
    left: 0;
}


.slidersView{
    position: relative;
    z-index: 6;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    margin: 0 auto;
    
}

.slidersView >.slItem{

    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #e4002b;
    transition: border ease-in .1s;
    transition-delay: .2s;
    cursor: pointer;
    
}
.slItem[data-active-slide-view]{
    width: 1.5em;
    height: 1.5em;
    border: 1px solid white;
}

/* @media(max-width:768px) {
    .slide >img{
        object-fit: cover;
    }

} */